@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|VT323');
body {
    /*font-family: 'Press Start 2P', cursive;*/
    font-family: 'VT323', monospace;
    margin: 50px 0px 50px 100px;
    background-color: lightblue;
    background-image: url("../img/download.jpg");
    
}

.bgimg {
    background-color: rgba(255, 255, 255, 0.7);
    height: 30vh;
    border: 2px solid grey;
    border-bottom: 0px;
    font-size: 25px;
    overflow-y: scroll;
}

.map {
    background-color: rgba(255, 255, 255, 0.7);
    height: 30vh;
    border: 2px solid grey;
    border-bottom: 0px;
}

.event-log {
    background-color: rgba(255, 255, 255, 0.7);
    height: 30vh;
    border: 2px solid grey;
    overflow-y: scroll;
    font-size: 16px;
   
}

.vert-cent {
    margin: 10px 0px;
}

.vert-cent1 {
    margin: 10px 0px;
    background-color: rgba(255, 255, 255, 1);
    padding: 5px;
    padding-left: 15px;
    border: 2px solid grey;
    border-radius: 10px;
    align-items: center;
}


.btn {
    width: 100%;
    height: 50px;
    border-radius: 10px;
}
.btn {
    padding:8px;
    height:auto;
    width: 100%;
    font-size: 18px;
}
#right-col {
    margin-top:0px;
    padding-left: 50px;
    font-size: 20px;
}

#no-btn {
    padding: 1px 11px 2px 11px;
}

.yesOrNo-info {
    text-align: center;
}
.col-sm-2 {
    padding-right: 50px;
}

.center-text {
    text-align: center;
    align-items: center;
}

.pause-box {
    margin-bottom: 10px;
}

.rations-info .pace-info {
    padding: 20px 10px;
}

.btn-map {
    width: 120px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
}

.btn-sm {
    width: 65px;
    height: 25px;
    font-size: 12px;
    border-radius: 10px;
    padding: 3px;
}

.col-sm-6 {
    font-size: 18px;
}

.right-align {
    text-align: right;
}

.red {
    color: red;
}

.icon {
    font-size: 22px;
}

.canvas {
    /*border: 2px solid orange;*/
    width: 100%;
    height: 20vh;
};


h1, h3 {
    text-align: center;
    margin-left: 10px;
    margin-top: 0px;
}

.buy-info {
    font-size: 16px;
}
.clearfix {
    clear: both;			
}

.product-name, .quantity-wrap {
    float: left;
    margin-right: 5px;
    width: 100px;
}
.cost, .item-total {
    float: left;
    margin-right: 5px;
    width: 60px;
}

.float {
    float: left;
    margin-right: 15%;
}

.float-cent {
    float: center;
}

/*height: auto;
    padding:0;
    background-size: cover;
    background-size: 100vh 100vh;
    background-repeat: no-repeat;
    
    width:100%;
    background-position: center center;

